<!DOCTYPE html>
<html lang="es">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Panel de administración</title>
	</head>

	<body>
		<h1>Panel de administración privado</h1>

		<label>
			Descripción del perfil:
			<textarea id="about"></textarea>
		</label>

		<label>
			Biografía corta del perfil:
			<textarea id="bio"></textarea>
		</label>

		<button id="submitBtn">Guardar y subir</button>

		<script src="/script.js"></script>
	</body>

</html>